* {
    padding: 0;
    margin: 0;
}

#MyCanvas {
    z-index: 1;

    position: relative;
    width: fit-content;
    margin: auto;
    margin-top: 100px;

}

#canvas{
    z-index: 1;
    display: block;
    background-color: rgba(211,205,207,0.8);
}
#canvas2{
    z-index: 1;
    position: absolute;
    top: 0;
}

#form {
    
    margin: auto;
    z-index: 2;
    text-align: center;

}

#sol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    height: 50px;
    width: 200px;
    background-color:rgba(211,205,207);
    transition: 0.3s;
    z-index: 2;
}
#erase{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    height: 50px;
    width: 200px;
    z-index: 2;
    background-color:rgba(211,205,207);
    transition: 0.3s;
}
body{
    background-image: url('slike/paper.avif');
}
@font-face {
    font-family: nyt;
    src: url(font/Chomsky-8MOa2.otf);
}
@font-face {
    font-family: heather;
    src: url(font/Heathergreen.otf);
}
h1{
    text-shadow: -3px -3px 3px white;
    margin-top: 50px;
    font-size: 80px;
    text-align: center;
    font-family: nyt;
} 
 #buttons{
    margin-top: 2.5%;
    z-index: 2;
    
}
#sol:hover,#erase:hover {
    z-index: 2;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px; 
    background-color:rgb(141, 138, 139);
    transition: 0.3s;
}
#colors{
    
    margin: auto;
    text-align: center;
    margin-top: -30.6%;
    margin-left: 30%;
    height:481px;
    width:100px;
    background-color: rgba(211,205,207,0.8);
    border-radius: 5%;

}
#footer{
    position: relative;
   z-index: 2;
}
#red,#orange,#green,#blue,#purple{
    margin-top: 1.5%;
    width: 80px;
    height:80px;
    border-radius: 50%;
}